<div class="header">
    <h2>CRUD in <span class="boot">Bootstrap</span></h2>

</div>
<div class="CRUD">

    <a routerLink="getall" class="btn btn-primary">GetAll</a>
    <!--^^^^^^^^^^^^^^^^^ -> getall componentiga otayotganda refresh bolmasligi uchun.
                             [routerLink] to'g'ri ishlashi uchun app.module.tsda
                             RouterModule import qilinishi kerak-->

    <a routerLink="create" type="a" class="btn btn-success">Create</a>
    <a routerLink="update" type="a" class="btn btn-warning">Update</a>
    <a routerLink="delete" type="a" class="btn btn-danger">Delete</a>
    
</div>